<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your recipes</p>
{{#if recipes}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{!-- hbs helper --}}
        {{#each recipes}}
        <tr>
            <td><a href="/recipes/{{_id}}">{{title}}</a></td>
            {{!-- when using hbs helpers, just call method, and pass in parameters, separated by space --}}
            {{!-- formatDate is a hbs helper, createdAt is the date that will be passed in as the first parameter, then, pass in the format we want --}}
            <td>{{formatDate createdAt 'MMMM Do YYYY'}}</td>
            {{!-- <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td> --}}
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/recipes/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <!-- Can't have a link to delete, so use a form and methodoverride -->
                <form method="POST" action="/recipes/{{_id}}?_method=DELETE" id="delete-form">
                    {{!-- <input type="hidden" name="_method" value="DELETE"> --}}
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        
        {{!-- end of loop --}}
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any recipes</p>
{{/if}}